/**
COLOR-THEME

A1exProd - morron:  #80142B | RGB 128, 20, 43
A1exProd - cyan:    #00A19C | RGB: 0, 161, 156
CV - darkblue:      #2D4B73 | RGB: 45, 75, 115
CV - lightblue:     #8F9FBF | RGB: 143, 159, 191

**/
@import url('var-fonts.css');

.Cw{
color:white;
}
.Cb{
color:black;
}


.bgc1{ /*Main Boxes Background color*/
background-color:var(--cv-darkblue);
border-radius: 3rem;

}
.bgc2{ /*contras box background color to blue*/
background-color:white;
}

img.cv {
    height: 10%;
}



/**Tag Coloring**/
a{
    color:var(--a1exprod-cyan);
}
a:hover{
    color:var(--a1exprod-morron);
}

mark{
    background-color:#96bcff;
}


/*Styling NAV*/
.header{
    backdrop-filter:blur(0.2em);
    background-color: var(--unclean-white);
    position: sticky;
    font-family: aptos;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--a1exprod-cyan);
}


.mobile-navtoggle{
    background: url("../icons/menuicon.svg");
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
    border:2px solid white;
    background-color: var(--a1exprod-cyan);
}
#nav li a:hover{
    transition: 0.5s;
}
#nav li a{
    transition: 0.5s;
}
.active{
    padding-top:20px;
    padding-bottom:10px;
    border-top: 10px solid var(--a1exprod-morron);
}
a.navlink {
    font-family: aptos-semibold;
}

nav span{
    font-family: "Raleway-Bold";
    color:white;
}
.decoline{
    height:2px;
    background-color:white;
}

.blueframe{
    border:6px solid rgb(128, 20, 43);
    border-right-width: 2em;
    border-bottom-width: 1em;
}
.blueframe2{
    border:6px solid rgb(0,53,97);
    border-left:none;
    border-right:none;
}
.bluebshadow{
    box-shadow:6px 6px 4px rgba(0,0,0,0.3);
}
.cornerborder{
    outline: 8px solid white;
}
/**Formular**/
input[type=text], input[type=email], input[type=tel], textarea {
    border: 1px solid #A3D2FF;
}
input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, textarea:hover {
    border: 2px solid #0091FF;
}

input[type=text], input[type=email], input[type=tel] {
    border-radius: 4px;
  }
  
  input[type=submit] {
    background-color: #265780;
    color: white;
  }
  
  input[type=submit]:hover {
    background-color: #003561;
    color: white;
  }
  /**InfoSection**/

  .infocard:hover{

    color:white;
 }
 .infocard:hover :where(h2){
    color:white;
    
 }
 .infocard:hover :where(h3){
    color:white;
    letter-spacing: +0.2rem;
    
 }
/**Gallery**/
.gallery-link{
    font-size:1.5rem;
    background-color: rgba(0,0,0,0.5);
    color:white;
    transition: 0.3s;
}
.gallery-link:hover{
    background-color:rgba(255,255,255);
    color:rgb(0,53,97);
    transition: 0.3s;
    outline:2px solid rgb(0,53,97);
    outline-offset: -5px;
}
img.gallery {
    box-shadow: 10px 10px #A3D2FF;
   

    
}

img.gallery:hover {
    box-shadow: 30px 10px #265780;
    opacity: 1;
}






/*FOOTER*/

footer{
    border-top: 1px solid var(--a1exprod-cyan);
    color: var(--cv-lightblue);
}





@media(max-width:750px){
    .nav{
        background-color:rgba(0,53,97,0.7);
        backdrop-filter:blur(0.75em);
    }
    .header{
        backdrop-filter: none;
        
    }
    .active{
        padding-right:10px;
        border-top:none;
        border-right:5px solid white;
    }
    
    }
    /* Larger than tablet */
    @media (min-width: 750px) {

    }
    
    
    /* Larger than Desktop HD */
    @media (min-width: 1200px) {
    
    }
    