@import url('technical/standardclasses.css');


@media only screen and (min-width: 1700px) {

    .screen-format {
        width: 80%;
        margin: 0 auto;
    }

}


.bgc1{ /*Main Boxes Background color*/
background-color: 	rgba(94, 183, 189,0.8);
background-image: url("../img/main background.png");
background-repeat: repeat-y;
background-position:left;
border-radius: 1rem;
}


.bgc2{ /*contras box background color to blue*/
background-color:rgba(250, 250, 250, 0.7);
}


.decoline{
    height:2px;
    background-color:white;
}

q {
    font-size: 5rem;
    font-family: aptos-light-italic;
    text-transform: capitalize;
    margin: 2rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: var(--a1exprod-cyan);
}


/**Gallery*******************************************************************/
.gallery-link{
    font-size:1.5rem;
    background-color: rgba(0,0,0,0.5);
    color:white;
    transition: 0.3s;
}
.gallery-link:hover{
    background-color:rgba(255,255,255);
    color:rgb(0,53,97);
    transition: 0.3s;
    outline:2px solid rgb(0,53,97);
    outline-offset: -5px;
}
img.gallery {
    box-shadow: 10px 10px #A3D2FF;
   

    
}

img.gallery:hover {
    box-shadow: 30px 10px #265780;
    opacity: 1;
}






/*FOOTER******************************************************************/

footer{
    border-top: 1px solid var(--a1exprod-cyan);
    color: var(--cv-lightblue);
}

a.footer-link {
    padding: 0;
    margin: 0;
    font-family: aptos;
}


 /**Formular**/
  
  button,input[type=submit] {
    background-color: var(--cv-lightblue);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

button {
    color: var(--unclean-black);
    border: 1px solid var(--unclean-black);
}
button:hover {
    border: 0;
}
button,input[type=submit].vertical {
    /**USE ONLY ON THE BUTTON BELOW**/
    border: 1px solid var(--unclean-black);
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: -2rem;
  }
button:hover,input[type=submit]:hover {
    color: var(--a1exprod-morron)
}


input[type=submit]{
    background-color: var(--cv-lightblue);
    border: 1px solid var(--unclean-black);
    font-size: 1.3rem;
    color: var(--unclean-black);
}




#contactme {
    border-radius: 5px;
    background-color: var(--cv-lightblue);
    border: 1px solid var(--unclean-black);
    color: var(--unclean-black);
    text-align: center;
    font-size: 100%;
    padding-bottom: 2rem;
    width: 75%;
    transition: all 0.5s;
    cursor: pointer;
}

#contactme span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#contactme span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #contactme:hover span {
    padding-right: 25px;
  }
  
#contactme:hover span:after {
    opacity: 1;
    right: 0;
  }
 
.note {
    text-decoration: none;
    font-family: aptos-light-italic;
    color: black;
}

.version {
    padding-right: 10%;
    text-align: right;
}
#big-special-character {
    font-size: 30px;
    justify-content: baseline;
}
  
  @media only screen and (min-width: 1200px) {
    /* Add your desktop styles here */
}/*END OF: Desktop******************************************************************************/


@media only screen and (max-width: 1199px) {
    /* Add your laptop styles here */
    #contactme {
        width: 75%;
    }
}/*END OF: laptop******************************************************************************/
  

@media only screen and (max-width: 991px) {
    /* Add your tablet styles here */

    #contactme {
        width: 100%;
    }
}/*END OF: tablet******************************************************************************/
  

@media only screen and (max-width: 767px) {
    /* Add your smartphone styles here */
    .version {
        padding-right: 0;
        text-align: center;
    }


}/*END OF: Smartphone******************************************************************************/
  


    