/**
This file containes responsive image handling for the wohle website.
Logos are not contained.
**/


@import url('standardclasses.css');


img.projects {
    width: 30rem;
    border-radius: 1rem;
    align-items: center;
}

img.cv {
    height: 10%;
}

img#diploma-bigpicture {
    width: 100%;
}

img.preview-projects {
    width: 85%;
    border-radius: 1rem;
}

img.aboutme {
    width: 75%;
    height: 75%;
    border-radius: 1rem;
    vertical-align: middle;
    align-items: center;
    display: inline-flex;
}

img#cv-portrait {
    width: 75%;
    height: 75%;
    border-radius: 1rem;
}






@media only screen and (min-width: 1200px) {
    /* Add your desktop styles here */
}/*END OF: Desktop******************************************************************************/


@media only screen and (max-width: 1199px) {
    /* Add your laptop styles here */
    img.preview-projects {
        width: 75%;
    }
}/*END OF: laptop******************************************************************************/
  

@media only screen and (max-width: 991px) {
    /* Add your tablet styles here */
    img.preview-projects {
        width: 75%;
    }
}/*END OF: tablet******************************************************************************/
  

@media only screen and (max-width: 767px) {
    /* Add your smartphone styles here */
    img#cv-portrait {
        width: 50%;
    }

    img.preview-projects {
        width: 75%;
    }
}/*END OF: Smartphone******************************************************************************/