/**
This file containes responsive image handling for the wohle website.
Logos are not contained.
**/


@import url('standardclasses.css');

img.aboutme {
    height: 50rem;
    border-radius: 1rem;
    align-items: center;
}

img.projects {
    height: 30rem;
    border-radius: 1rem;
    align-items: center;
}

img.cv {
    height: 10%;
}

img#diploma-bigpicture {
    width: 100%;
}

img.preview-projects {
    width: 100%;
    border-radius: 1rem;
}



/*RESPONSIVE***************************************************************/
@media(max-width:750px){

    
}
/* Larger than tablet */
@media (min-width: 750px) {

    }
    
    
/* Larger than Desktop HD */
@media (min-width: 1200px) {
    
}