@import url('../technical/standardclasses.css');

table.language,ul.certification,ul.skill{
    text-align: center;
    border-collapse: collapse;
    width: 90%; /* Adjust the width as needed */
    margin-left: 3rem;
    
}

td.language,li.certification,li.skill {
    font-family: aptos-semibold;
    font-size: 1.7rem;
}

img.collage {
    width: 66rem;
    display: block; /* Ensures the image is treated as a block element */
    margin-left: auto;
    margin-right: auto;

}





@media only screen and (min-width: 1200px) {
    /* Add your desktop styles here */




}/*END OF: Desktop******************************************************************************/


@media only screen and (max-width: 1199px) {
    /* Add your laptop styles here */




}/*END OF: laptop******************************************************************************/
  

@media only screen and (max-width: 991px) {
    /* Add your tablet styles here */

    img.collage {
        width: 50rem;
    }


}/*END OF: tablet******************************************************************************/
  

@media only screen and (max-width: 767px) {
    /* Add your smartphone styles here */

    img.collage {
        width: 33rem;
    }

}/*END OF: Smartphone******************************************************************************/
  
