/**
Additional specific styling for subpages ONLY
**/

@import url('../technical/standardclasses.css');

h1.projects{
    color: var(--unclean-white);
    font-family: aptos-extrabold;
    margin: 0;
    padding-left: 4rem;
    color: black;
}

h2.projects {
    color: black;
    font-family: aptos-light;
    margin: 0;
    padding-left: 4rem;
}



p.question {
    font-size: 2.5rem;
    font-family: aptos-black;
    text-align: left;
    margin: 0;
    margin-top: 10px;
    text-transform: uppercase;
}

p.text {
    text-align: left;
    padding-left: 2rem;
}

a.project {
    font-family: aptos;
    font-size: 2rem;
}

p.link {
    font-family: aptos-black;
    font-size: 2rem;
}

.project-padding {
    padding-left: 5rem;
    padding-right: 5rem;
}

img.project-uiux,img.project-uiux-main {
    width: 90%;
    height: 90%;
}


img.project-picjar {
    width: auto;
    max-height: 20rem;
}

td.projects,th.projects,table.projects {
    text-align: left;
    border-collapse: collapse;
    width: 75%; /* Adjust the width as needed */
    margin-left: 3rem;
}

table.photobooth, th.photobooth {
    width: auto;
    border-collapse: collapse;
}

th.projects {
    font-family: aptos-light;
    font-size: 2.5rem;
}
td.projects {
    font-family: aptos;
    color: black;
}
#picjar-logo {
    display: block;
    height: 10rem;
    text-align: left;
    margin-left: 5rem;
}

img.discover-projects {
    height: 30rem;
    width: auto; /* Ensures the image maintains its aspect ratio */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centers the container horizontally on the page if needed */
}


.discover-popup:hover {
    transform:scale(1.1);
    transition: 0.3s;
}

p.hyperlink {
    text-align: center;
    font-family: aptos-black;
    font-size: 3rem;
}

img.photobooth {
    width: 75%;
}

p#padding-left {
    padding-left: 4rem;
    padding-right: 2rem;
}

img.diplo-img {
    width: 100%;
}
img#diplo-img {
    width: 50%;
}

/*RESPONSIVE***************************************************************/
@media(max-width:750px){
    img.project-uiux-main {
        display: none;
    }

    img.project-uiux {
        width: 66%;
    }

    img.discover-projects {
        height: 20rem;
    }

}
    

/* Larger than tablet */
@media (min-width: 750px) {
    p.contact {
        font-size: 1.5rem;
    }

    img.discover-projects {
        height: 15rem;
    }
}
    
    
/* Larger than Desktop HD */
@media (min-width: 1200px) {

}

